@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

#home {
    padding-top: 100px;
    padding-bottom: 200px;
    background: url("../public/section-main.webp") center center no-repeat;
    background-size: cover;
}

#navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 50px;
}

#navbar_left span {
    font-size: 20px;
}

#navbar_left b {
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-weight: 700;
    background-color: #00a3ff;
    font-size: 14px;
}

#navbar_right {
    background-color: #ff007a;
    border-radius: 50px;
    padding: 4px 12px;
    display: flex;
    align-items: center;
} 

#navbar_right button {
    font-size: 14px;
    margin-left: 10px;
}

#section_main_left > div {
    text-align: center;
    padding: 0 30px;
}

#section_main_left h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#section_main_left h3 img {
    width: 22px;
    margin-right: 8px;
}

#section_main_left h3 span {
    color: #5bff9d;
}

#section_main_left h1 {
    color: white;
    margin-bottom: 15px;
    font-size: 2rem;
}

#section_main_left h2 {
    font-weight: 500;
    font-size: 1.2rem;
    color: #ffffff80;
    margin-bottom: 25px;
}