@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s linear;
}

#home {
    padding-top: 100px;
    padding-bottom: 200px;
    background: url("../public/section-main.webp") center center no-repeat;
    background-size: cover;
}

/* --------  Navbar ------------ */

#navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 50px;
}

#navbar_left span {
    font-size: 20px;
}

#navbar_left b {
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-weight: 700;
    background-color: #00a3ff;
    font-size: 14px;
}

#navbar_right {
    background-color: #ff007a;
    border-radius: 50px;
    padding: 4px 12px;
    display: flex;
    align-items: center;
} 

#navbar_right button {
    font-size: 14px;
    margin-left: 10px;
}

#price_btn {
    padding: 12px 25px;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-size: 14px;
}

#navbar_right_2 {
    display: none;
}

#vig_btn {
    display: flex;
    align-items: center;
    background-color: #ff007a;
    border-radius: 50px;
    padding: 12px 25px;
    margin-left: 10px;
}

#vig_btn span {
    margin-left: 10px;
    font-size: 14px;
}

@media (min-width: 361px) {
    #navbar {
        height: 64px;
    }
    #navbar_left span {
        font-size: 28px;
    }
    #navbar_left b {
        font-size: 21px;
    }
    #navbar_right {
        padding: 12px 25px;
    }
}

@media (min-width: 681px) {
    #navbar_right {
        display: none;
    }
    #navbar_right_2 {
        display: flex;
    }
}

/* --------  Section Main Left ------------ */

#section_main_left > div {
    text-align: center;
    padding: 0 30px;
}

#section_main_left h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#section_main_left h3 img {
    width: 22px;
    margin-right: 8px;
}

#section_main_left h3 span {
    color: #5bff9d;
}

#section_main_left h1 {
    color: white;
    margin-bottom: 15px;
    font-size: 2rem;
}

#section_main_left h2 {
    font-weight: 500;
    font-size: 1.2rem;
    color: #ffffff80;
    margin-bottom: 25px;
}

@media (min-width: 431px) {
    #section_main_left h1 {
        font-size: 3rem;
    }
    #section_main_left h2 {
        font-size: 1.5rem;
    }
}

/* --------  Section Main Right ------------ */

#section_main_right > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    margin: 0 30px;
}

#car, #bike, #van {
    border-radius: 35px;
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#car {
    background-color: #89d5ff4d;
}

#bike {
    background-color: #deb5ff4d;
}

#van {
    background-color: #fff3b54d;
}

#section_main_right img {
    width: 60px;
}

#section_main_right span {
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    margin-top: 110px;
    padding: 0 9px;
    border-radius: 50px;
}

#car span {
    background-color: #4fc1ff;
}

#bike span {
    background-color: #b300df;
}

#van span {
    background-color: #fbd300;
}

@media (min-width: 420px) {
    #section_main_right {
        padding-top: 50px;
        padding-bottom: 25px;
    }
}

/* --------  Section Main Action Page ------------ */

#section_main_action > div {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 30px;
}

#buy_btn, #check_btn {
    border-radius: 50px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

#buy_btn {
    color: white;
    background-color: #0066ff;
}

#check_btn {
    background-color: white;
}

#buy_btn span, #check_btn span {
    margin-left: 10px;
}


/* --------  Feature Page ------------ */

#features {
    display: flex;
    align-items: center;
    justify-content: center;
}

#features {
    background-color: #0085ff;
    padding-top: 30px;
}

#features > div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 30px;
    border-radius: 64px;
    top: -95px;
    position: relative;
}

#features > div > * {
    margin: 30px;
}

.f_img_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature_img {
    width: 120px;
    margin-bottom: 25px;
}

.feature_h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 28px;
}

.feature_p {
    color: #00000080;
    font-size: 20px;
}

@media (min-width: 781px) {
    #home > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #section_main_left > div {
        text-align: left;
    }
    #section_main_left h3 {
        justify-content: start;
    }
    #section_main_action > div {
        flex-direction: row;
    }
    #buy_btn, #check_btn {
        width: 210px;
        padding: 12px 25px;
        margin: 5px;
    }
    #buy_btn span, #check_btn span {
        margin-left: 2px;
    }
    #section_main_left h2 {
        margin-bottom: 0;
    }
    #features > div > * {
        width: 25%;
    }
    .feature_h3 {
        font-size: 20px;
    }
    .feature_p {
        font-size: 15px;
    }
}

@media (min-width:1121px) {
    #section_main_left h1 {
        font-size: 4rem;
    }
    #section_main_left h2 {
        margin-bottom: 35px;
    }
    #section_main_left h3 {
        margin-top: 60px;
    }
    #home > div {
        margin: 0 130px;
    }
    #navbar_right_2  {
        margin-right: 270px;
    }
    #navbar {
        margin-left: 130px;
    }
}
